__pycache__/
*.pyc
*.pyo
.env
.ipynb_checkpoints/
venv/
env/
.idea/
.vscode/
*.h5
*.pb
*.keras
*.pth
*.pt
*.log
*.tox/
*.coverage
*.nosetests*
*.hypothesis/
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.swp
*.bak
*.tmp
data/
